.myresults{
	margin: 50px;
}

.results{
	text-align: left;
}

.flex-container{
  /* No width so the table is centered */
	display: flex;
  justify-content: center;
  align-items: center;
}

.flex-box{
	width: 80%;
}
