/*
#############
  Login/Signup styles
###############
*/

.main-login-container h1, .main-signup-container h1{
  font-size: 28px;
  margin-top: 50px;
}

.main-login-container .btn, .main-signup-container .btn {
  text-transform: uppercase;
}


